<mat-card>
  <mat-spinner [diameter]="40" *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="E-Mail"
        #emailInput="ngModel"
        name="email"
        ngModel
        required
        email/>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password"
      matInput
      placeholder="Password"
      #passwordInput="ngModel"
      name="password"
      ngModel
      required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <div class="form-footer">
      <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
    </div>
  </form>
</mat-card>
